<h1 class="text-warning mb-4 mt-3">OTP</h1>
<%if(errMsg){%>
  <div class="alert alert-danger" role="alert">
    <%=errMsg%>
  </div>
  <%}else{%>

    <div></div>
    <%}%>
      <form action="/new-password" method="GET" class="border border-light p-3 border-3 rounded">

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Enter OTP sent on your registered email id</label>
          <input type="number" class="form-control" id="otp" name="otp">
          <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>